data/mtg-image-data/data-00000-of-00005.arrow
data/mtg-image-data/data-00001-of-00005.arrow
data/mtg-image-data/data-00002-of-00005.arrow
data/mtg-image-data/data-00003-of-00005.arrow
data/mtg-image-data/data-00004-of-00005.arrow
data/mtg-image-data/dataset_info.json
data/mtg-image-data/state.json
